<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>

<!-- topbar(activePage) -->
<header class="topbar" th:fragment="topbar(activePage)">
    <div class="brand">Warehouse UI</div>

    <nav class="nav">
        <a th:href="@{/inbounds/upload}"
           th:classappend="${activePage}=='inbounds' ? ' active' : ''">
            Импорт номенклатуры
        </a>

        <a th:href="@{/tasks}"
           th:classappend="${activePage}=='tasks' ? ' active' : ''">
            Задачи
        </a>

        <a th:href="@{/outbounds/create}"
           th:classappend="${activePage}=='outbounds' ? ' active' : ''">
            Отбор (Outbound)
        </a>
    </nav>
</header>

</body>
</html>
